<hr>

<table class="table table-striped">
    <thead>
        <tr class="unselected unselected_top">
            <th scope="row">
                <label class="control-label" for="card">Br. Kartona
                    <input [class.has-error]="cardNumberControl.invalid" required id="card" name="card" type="text"
                        class="form-control" #card="ngModel" [(ngModel)]="card">
                    <span class="help-block text-danger">Obavezno polje!</span>
                </label>
            </th>
            <th scope="row">
                <label for="">Ime</label>
                <input type="text" class="form-control">
                <span class="help-block text-danger">Obavezno polje!</span>
            </th>
            <th scope="row">
                <label for="">Prezime</label>
                <input type="text" class="form-control">
                <span class="help-block text-danger">Obavezno polje!</span>
            </th>
            <th scope="row">
                <label for="">Datum rodjenja</label>
                <input type="date" class="form-control" placeholder="">
            </th>
            <th scope="row">
                <label for="option">Naselje</label>
                <select class="form-control">
                    <option *ngFor="let local of locales" value="">{{local.name}}</option>
                </select>
            </th>
            <th scope="row">
                <label for="">Ulica i br.</label>
                <input maxlength="50" type="text" value="" class="form-control">
            </th>

            <th>
                <button class="btn btn-success">Dodaj</button>
            </th>
        </tr>
    </thead>
</table>

<form>
    <div class="form-group form-inline">
        Pretraga pacijenata:
        <input class="form-control ml-2 forma" type="text" placeholder="Pretrazi" [(ngModel)]="searchValue" />
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr class="unselected">
            <th scope="col">#</th>
            <th scope="col" class="control-label">Br. Kartona</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Datum rodjenja</th>
            <th scope="col">Naseljeno mjesto</th>
            <th scope="col">Ulica i br.</th>
        </tr>
    </thead>
    <tbody>
        <tr [class.selected]="patient === selectedPatient" *ngFor="let patient of patients | filter: searchValue"
            (click)="onSelect(patient)">
            <th scope=" row">{{ patient.id }}</th>
            <th scope="row">
                <div>{{ patient.cardNumber }}</div>
            </th>
            <th scope="row">
                <div>{{ patient.name }}</div>
            </th>
            <th scope="row">
                <div>{{ patient.surname }}</div>
            </th>
            <th scope="row">
                <div>{{ patient.born | date: 'dd/MM/yyyy' }}</div>
            </th>
            <th scope="row">
                <div>{{patient.locale}}</div>
            </th>
            <th scope="row">
                <div>{{ patient.street }}</div>
            </th>
        </tr>
    </tbody>
</table>
<h3>Detalji o pacijentu:</h3>
<div class="selectedPatient" *ngIf="selectedPatient">
    <h2><input inputmode="numeric" value="{{ selectedPatient.phone }}"></h2>
    <h5><input type="email" value="{{ selectedPatient.email }}"></h5>
    <p><textarea width="500px" type="text" value="{{ selectedPatient.message }}"></textarea></p>
</div>